<!DOCTYPE html>
<html xmlns:bs="http://www.w3.org/1999/xhtml" bs:lang="lang" bs:dir="dir">

<head>
    <meta charset="UTF-8">
    <meta name="description" bs:content="data.metadata.description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.metadata.title}}</title>

    <!--
      - favicon
    -->
    <link rel="fav icon" bs:href="data.metadata.favicon" type="image/x-icon">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" href="css/style.css">

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

<!--
  - #MAIN
-->

<main>

    <!--
      - #SIDEBAR
    -->
    <bs:component name="sidebar"></bs:component>


    <!--
      - #main-content
    -->

    <div class="main-content">

        <!--
          - #NAVBAR
        -->

        <nav class="navbar">

            <ul class="navbar-list">

                <li class="navbar-item">
                    <button class="navbar-link  active" data-nav-link>About</button>
                </li>

                <li class="navbar-item">
                    <button class="navbar-link" data-nav-link>Resume</button>
                </li>

                <li class="navbar-item">
                    <button class="navbar-link" data-nav-link>Portfolio</button>
                </li>

                <li class="navbar-item">
                    <button class="navbar-link" data-nav-link>Blog</button>
                </li>

                <li class="navbar-item">
                    <button class="navbar-link" data-nav-link>Contact</button>
                </li>

            </ul>

        </nav>


        <!--
          - #ABOUT
        -->
        <bs:component name="about"></bs:component>

        <!--
          - #RESUME
        -->
        <bs:component name="resume"></bs:component>
        <!--
          - #PORTFOLIO
        -->
        <bs:component name="portfolio"></bs:component>
        <!--
          - #BLOG
        -->
        <bs:component name="blog"></bs:component>
        <!--
          - #CONTACT
        -->
        <bs:component name="contact"></bs:component>

    </div>

</main>


<!--
  - custom js link
-->
<script src="js/script.js"></script>

<!--
  - ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>